[Unit]

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/root/cordy/cordy
WorkingDirectory=/root/cordy
User=ubuntu
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n