[Unit]

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/root/cordy/cordy
WorkingDirectory=/root/cordy
User=root
Restart=always
RestartSec=5